{{ partial "head" . }}
  <body>
    <div id="wrap">
      {{ partial "header" . }}
      <section id="about">
        <div class="container">
          <article class="avatar">
            <img class="img-circle" src="{{ .Site.BaseURL }}img/{{ .Site.Params.avatar }}" style='width:33%;'>
          </article>
          <br>
          <br>
          <section>
          <h4>I'm <strong>{{ .Site.Params.author }}</strong>, a Husband, Father, and Software Developer.</h4>
          <h4>I put food on the table by writing and maintaining testing tools and libraries at <a href="https://www.alianza.com">Alianza</a>.</h4>
          <h4>My current interests are Fedora Linux, Kubernetes, Star Trek, Classic VW Beetles, and Rust Lang.</h4>
          <h4>
            Take a look at some of my <a href="{{ .Site.BaseURL }}projects/"> projects</a>, or my most recent blog post:
            <br>
            {{ range first 1 .Site.RegularPages.ByDate.Reverse }}
            <br>
            <a href="{{ .Permalink }}">{{ .Title }}</a>
            {{ end }}
          </h4>
          </section>
        </div>
      </section>
      {{ partial "social.html" . }}
    </div>
    {{ partial "footer" . }}
  </body>
</html>
s