{{ partial "head" . }}
  <body>
    <div id="wrap">
      {{ partial "header" . }}
      <section id="about">
        <div class="container">
          <div class="avatar">
            <img class="img-circle" src="{{ .Site.BaseURL }}img/{{ .Site.Params.avatar }}" style='width:33%;'>
          </div>
          <h3>I'm <strong>{{ .Site.Params.author }}</strong>, a Husband, Father, and Test Engineer.</h3>
          <h3>I put food on the table by chasing down Java bugs at <a href="https://www.alianza.com">Alianza</a>.</h3>
          <h3>My current interests are Kubernetes, Firefox Nightly, and my Zsh terminal.</h3>
          <h3>Take a look at some of my working <a href="{{ .Site.BaseURL }}projects/"> projects</a>, or my most recent blog post:
              <br>
              <a href="{{ range first 1 (where .Data.Pages "Section" "blog").ByDate.Reverse }} {{ .Permalink }} {{ end }}">
                {{ range first 1 (where .Data.Pages "Section" "blog").ByDate.Reverse }} {{ .Title }} {{ end }}
              </a>
          </h3>
        </div>
      </section>
      {{ partial "social.html" . }}
    </div>
    {{ partial "footer" . }}
  </body>
</html>
